# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
/functions/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Firebase specific
.firebase/
/functions/.runtimeconfig.json
/functions/lib/
firebase-debug.log
/functions/npm-debug.log*

# Testing
/coverage

# Next.js / Production
/.next/
/out/
/build

# Misc
.DS_Store
*.pem
*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts